.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cat{
  width: 200px;
}
.job{
  width: 200px;
}
.top-images{
  margin-top: 100px;
}
.title{
  color: rgb(67, 67, 138);
  font-family: 'Lobster', cursive;
}
input{
  margin-bottom: 15px;
  line-height: 1.8rem;
  width: 240px;
  border-radius: 5px;
}
.search{
  width: 250px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(0, 44, 139);
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}
.search:hover{
  width: 250px;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  color: rgb(0, 44, 139);
  margin-bottom: 40px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: 1px 1px 15px black;
}
.footer{
  width: 80%;
  border-radius: 10px;
  height: 60px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
}
.design{
  width: 50px;
  margin-left: 200px;
  margin-right: 50px;
}

/*   Card Component   */

.card{
  height:380px;
  width: 600px;
  background-color: white;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px gray;
  padding-top:15px;
  
}
.card:hover{
  height:380px;
  width: 600px;
  background-color: white;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px gray;
  padding-top:15px;
  
}
.company-logo{
  width: 80px;
  height: 80px;
}
.logo-div{
  width: 100px;
  height: 100px;
  padding-top:15px;
  box-shadow: 1px 1px 15px black;
  margin: auto;
  border: none;
}
.body-title{
  height: 50px;
  margin-top: 15px;
  background-color: rgb(194, 190, 190,.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  color: green;
}
.body-desc{
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.2rem;
}
.body-type{
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.2rem;
}
.apply{
  height: 35px;
  width: 130px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #24A0ED;
  color: white;
  font-weight: 600;
  border: none;
  transition: all .5s ease;
}
.apply:hover{
  height: 35px;
  width: 130px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  color: #24A0ED ;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s ease;
  box-shadow: 2px 2px 15px black;
}
a{
  text-decoration: none;
}
.error{
  margin-bottom: 30px;
  width: 30%;
}